@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
 body {
   
   
    font-family: 'IM Fell English SC', serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   
    border-bottom: 4px solid #1c1c1c;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 2px; /* Espacio entre letras */
    margin: 0;
}

/* Aplicar degradado de fuego a cada letra */
header h1 span {
    background: linear-gradient(to bottom, #ff0000, #ff4500, #ff8c00, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.banners {
    width: 100%;
    position:relative;
  display: flex
  ;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid #1c1c1c;
  }
  
  .flecha-izquierda-banner{
          position: absolute;
      left: 20px;
      width: 20px;
      cursor:pointer;
  
  }
  .flecha-izquierda-banner img{
          width: 100%;
      height: 100%;
  }
  
  
  .flecha-derecha-banner{
          position: absolute;
      right: 20px;
      width: 20px;
      cursor:pointer;
  
  }
  .flecha-derecha-banner img{
          width: 100%;
      height: 100%;
      transform: rotate(180deg);
  }
  
  /* Contenedor del carrusel, se usa flex para alinear las imÃ¡genes horizontalmente */
  .div-banner {
    display: flex;
    flex-direction: row; /* Alineamos las imÃ¡genes en una fila horizontal */
    width: 100%;
    transition: transform 1s ease-in-out; /* AnimaciÃ³n para el deslizamiento */
  }
  .banners-mobile{
      display:none;
  }
  /* Estilo para cada imagen de banner */
  .img-banner {
    width: 100%; /* Cada imagen ocuparÃ¡ un 100% del ancho del contenedor */
    display: block; /* Las imÃ¡genes se mostrarÃ¡n de forma continua */
    cursor:pointer;
  }
  
  /* Ocultar los banners que no deben ser visibles */
  .img-banner.hidden {
    display: none;
  }
  
  .img-banner-2 {
    width: 100%; /* Cada imagen ocuparÃ¡ un 100% del ancho del contenedor */
    display: block; /* Las imÃ¡genes se mostrarÃ¡n de forma continua */
    cursor:pointer;
  }
  
  /* Ocultar los banners que no deben ser visibles */
  .img-banner-2.hidden {
    display: none;
  }
  
  /* Asegura que las imÃ¡genes ocupen todo el espacio del contenedor */
  .img-banner img {
    width: 100%;
    height: auto; /* Mantiene la proporciÃ³n de las imÃ¡genes */
  }
  
  .img-banner-2 img {
    width: 100%;
    height: auto; /* Mantiene la proporciÃ³n de las imÃ¡genes */
  }
  
  
  
  /* Banner visible, sin modificaciones */
  .img-banner.active {
    display: block;
  }
  
  .img-banner-2.active {
    display: block;
  }

.seccion-preventa{
padding: 60px 0px;
}
.seccion-preventa h1{
    font-size:60px;
    font-weight: 700;
    text-align: center;
    color: #1c1c1c;
}

.seccion-preventa h1 span{ 
    font-size:60px;
    font-weight: 700;
    text-align: center;
    color: #ff0000;
}

.parrafo-central-curso p{
    color: #1c1c1c;
    text-align: center;
    font-weight: 400;
    margin: 2rem;
    font-size: 24px;
}

.game-container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 50px;
    padding: 20px;
}

/* Ajuste de las tarjetas */
@keyframes fuego {
    0% {
        box-shadow: 0 0 10px rgba(255, 89, 0, 0.8), 
                    0 0 20px rgba(255, 140, 0, 0.6),
                    0 0 30px rgba(255, 69, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 15px rgba(255, 140, 0, 0.9), 
                    0 0 25px rgba(255, 89, 0, 0.7),
                    0 0 35px rgba(255, 0, 0, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 69, 0, 0.8), 
                    0 0 20px rgba(255, 89, 0, 0.6),
                    0 0 30px rgba(255, 140, 0, 0.5);
    }
}

.game-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    gap: 10px;
    border: 5px solid #1c1c1c;
    
    /* Aplicamos la animación de fuego */
    animation: fuego 1s infinite alternate;
}


.game-card:hover {
    transform: scale(1.05);
}

/* Contenedor de la imagen */
.image-container {
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que la imagen se desborde */
    border-radius: 10px 10px 0px 0px;
}

/* Ajuste de imagen */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene proporciones sin deformar */
   
}

.game-info{
    display: flex
    ;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
}
.game-info p{
   
    font-family: "Cinzel", serif;
}
.container-titulo{
    display: flex;
}
.titulo-info{
    background-color: #ff0000;
    border: 4px solid #1c1c1c;
    border-left: none;
    padding: 5px;
    width: 90%;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    align-items: center;
    height: 5rem;
}

.titulo-info svg{
    width: 30px;
    height: 30px;
}
.titulo-info p{
    margin: 0;
    color: #1c1c1c;
    font-weight: 700;
    font-size: 18px;
}

.lanzamiento-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: 80%;
}
.lanzamiento-info svg{
width: 30px;
}

.lanzamiento-info p{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #1c1c1c;
}
.caja-gran-inversion{
display: flex;
align-items: center;
justify-content: center;
}
.caja-inversion{
    background: #ff0000 ;
    border: 4px solid #1c1c1c;
    padding: 5px 15px;
    border-radius: 15px;
}
.price {
    font-size: 20px;
    font-weight: 600;
    color: #1c1c1c;

}

.caja-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 20px;
}

.caja-botones button {
    background-color: #ff8c00;
    border: 4px solid #1c1c1c;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #1c1c1c;
    border-radius: 10px;
    
    /* Transición suave en color, sombra y tamaño */
    transition: background-color 0.3s ease, 
                transform 0.3s ease, 
                box-shadow 0.3s ease;
}

.caja-botones button:hover {
    transform: scale(1.1);
    background-color: #ff6600; /* Color más intenso al pasar el mouse */
    box-shadow: 0 5px 15px rgba(255, 140, 0, 0.6); /* Sombra suave */
}

.seccion-comentarios h1{
    font-size:60px;
    font-weight: 700;
    text-align: center;
    color: #1c1c1c;
}

.seccion-comentarios h1 span{ 
    font-size:60px;
    font-weight: 700;
    text-align: center;
    color: #ff0000;
}

.container-formulario{
    display: flex;
}
.parrafo-formulario-curso{
  
    flex: 1;
    display: flex
;
    flex-direction: column;
    align-items: center;
}
.parrafo-formulario-curso p{
    color: #1c1c1c;
    text-align: center;
    font-weight: 500;
   
    font-size: 24px;
}


.caja-formulario{
    flex: 1;
}


.caja-formulario label{
    color: #1c1c1c;
    text-align: center;
    font-weight: 600;
   
    font-size: 20px;
}

.caja-formulario input,
.caja-formulario textarea {
    background-color: #ff6600;
    border: 4px solid #1c1c1c;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #1c1c1c;
    transition: all 0.3s ease-in-out;
    position: relative;
    outline: none;
}

/* Efecto de fuego al hacer hover o focus */
.caja-formulario input:hover, 
.caja-formulario input:focus,
.caja-formulario textarea:hover, 
.caja-formulario textarea:focus {
    background-color: #ff4500;
    border: 4px solid #1c1c1c;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.8);
    animation: fireAnimation 0.6s infinite alternate ease-in-out;
    color:#1c1c1c;
}

/* Animación de fuego */
@keyframes fireAnimation {
    0% {
        box-shadow: 0 0 10px rgba(255, 102, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.6);
    }
    50% {
        box-shadow: 0 0 15px rgba(255, 69, 0, 0.9), 0 0 25px rgba(255, 165, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 140, 0, 1), 0 0 30px rgba(255, 215, 0, 0.8);
    }
}



.caja-enviar button{
    background-color: #ff8c00;
    border: 4px solid #1c1c1c;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #1c1c1c;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}



.caja-enviar button:hover {
    transform: scale(1.1);
    background-color: #ff6600; /* Color más intenso al pasar el mouse */
    box-shadow: 0 5px 15px rgba(255, 140, 0, 0.6); /* Sombra suave */
}
.caja-imagen-logo{
    width: 100%;
}

.caja-imagen-logo img{
    width: 100%;
}

footer{
    background:#1c1c1c;
    display: flex
    ;
        align-items: center;
        justify-content: center;
     
}

.div-copyright{
    display: flex
    ;
        align-items: center;
        justify-content: center;
        padding:15px
}

.div-copyright p{
    color:#fff;
   margin: 0px;
   font-weight: 600;
   font-size: 20px;
   font-family: Cinzel;
}

.btn-whatsapp span {
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    font-family: 'Cinzel';
}

.btn-whatsapp svg {
    height: 2rem;
    width: 2rem;
}.btn-whatsapp {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 3px;
    bottom: 1rem;
    border-radius: 30px;
    text-align: center;
    z-index: 999;
    float: right;
    background: #ff0000;
    border:4px solid #1c1c1c;
    width: auto;
    padding: 15px 20px;
    gap: 13px;
    cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1399px) {
    .game-container-card {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
    .banner {
        flex-direction: column; /* Cambia la disposición a vertical */
        height: auto; /* Ajusta la altura automáticamente */
        padding: 40px 20px; /* Reduce el padding */
        gap: 30px; /* Reduce la separación */
    }

    .banner h2 {
        font-size: 60px; /* Reduce el tamaño del título */
    }

    .banner h2 span {
        font-size: 40px; /* Reduce el tamaño del span */
    }

    .lado-izquierdo {
        gap: 15px; /* Reduce la separación entre elementos */
    }

    .social-icons svg {
        width: 30px; /* Ajusta el tamaño de los iconos sociales */
        height: 30px;
    }

    .btn-click {
        font-size: 18px; /* Reduce el tamaño del botón */
        padding: 10px 20px;
    }

    .game-container {
        width: 500px; /* Ajusta el tamaño del contenedor */
        height: 300px;
    }

    .game-img {
        width: 180px; /* Reduce el tamaño de las imágenes */
    }

    .game-img:nth-child(1) {
        transform: translateX(-90px);
    }

    .game-img:nth-child(2) {
        transform: translateX(90px);
    }

    .game-img:nth-child(3) {
        transform: translateY(40px) scale(0.85);
    }

    .game-container:hover .game-img:nth-child(3) {
        transform: translateY(-20px) scale(1);
    }
}
@media (max-width: 991px) {
    .banners-web{
        display: none;
    }

    .banners-mobile{
        display: flex;
    }
    .game-container-card {
        grid-template-columns: repeat(1, 1fr); /* 1 columna para mejor adaptación */
        gap: 30px;
        padding: 15px;
    }

    .banner {
        flex-direction: column; /* Asegura que el contenido se apile verticalmente */
        text-align: center;
        height: auto;
        padding: 30px 15px;
        gap: 0px;
    }

    .banner h2 {
        font-size: 40px; /* Reduce el tamaño del título */
    }

    .banner h2 span {
        font-size: 30px; /* Reduce el tamaño del span */
    }

    .lado-izquierdo {
        gap: 10px; /* Reduce la separación entre elementos */
    }

    .social-icons {
        gap: 10px;
    }

    .social-icons svg {
        width: 25px; /* Ajusta el tamaño de los iconos sociales */
        height: 25px;
    }

    .btn-click {
        font-size: 16px; /* Reduce el tamaño del botón */
        padding: 8px 16px;
    }

    .game-container {
        width: 100%; /* Ocupar todo el ancho disponible */
        max-width: 350px; /* Tamaño máximo */
    
        flex-direction: column;
    }

    .game-img {
        width: 150px; /* Ajusta el tamaño de las imágenes */
    }

    .game-img:nth-child(1) {
        transform: translateX(-50px);
    }

    .game-img:nth-child(2) {
        transform: translateX(50px);
    }

    .game-img:nth-child(3) {
        transform: translateY(30px) scale(0.8);
    }

    .game-container:hover .game-img:nth-child(3) {
        transform: translateY(-10px) scale(1);
    }

    header h1 {
        font-size: 30px;
    }


    .seccion-preventa h1{
        font-size:30px;
      
    }
    
    .seccion-preventa h1 span{ 
        font-size:30px;
      
    }

    .parrafo-central-curso p {
        color: #1c1c1c;
        text-align: center;
        font-weight: 600;
        margin: 1rem;
        font-size: 18px;
    }

    .lanzamiento-info{
        width: auto;
    }


    .seccion-comentarios h1{
        font-size:30px;
      
    }
    
    .seccion-comentariosh1 span{ 
        font-size:30px;
      
    }

    .parrafo-formulario-curso p {
        color: #1c1c1c;
        text-align: center;
        font-weight: 600;
        margin: 1rem;
        font-size: 18px;
    }
    .container-formulario {
        display: flex
    ;
        flex-direction: column;
    }

    .btn-whatsapp span {
        color: #fff;
        font-weight: 700;
        font-size: 19px;
        font-family: 'Cinzel';
        display: none;
    }
}
